@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/*--------------------Header-------------------------------*/
.header-logo {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.header-computer {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: bottom;
}

.computers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 73px;
}

.info {
  text-align: center;
  margin: 73px;
}

p {
  font-size: 16px;
  font: weight 400px;
  text-align: center;
  /* line-height: 24px; */
  justify-content: center;
}

.text {
  margin-top: 28px;
}

.lorem {
  font-size: 32px;
  font-weight: 400px;
  line-height: 38px;
}

.dolor {
  font-size: 48px;
  font-weight: 500px;
  line-height: 58px;
}

/*----------------Section-2--------------------------*/
.square {
  box-shadow: 0px 4px 20px #0000003b;
  text-align: center;
  padding: 1em;
  flex: 1 1 250px;
  background-color: white;
  padding: 3em 0;
  align-items: center;
  max-width: 500px;
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  max-width: 350px;
  gap: 1em;
  /* margin: auto; */
}

.container-3 {
  margin: auto;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
}

/*----------------Section-3--------------------------*/

.container-notebooks img {
  width: 100%;
}

.notebook {
  width: 100%;
  translate: 0px 64px;
  margin-top: -62px;
}

/*----------------Section-4--------------------------*/
.container-4 {
  margin-top: 62px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-p {
  align-items: center;
  width: 550px;
  /* height: 120px; */
  /* line-height: 24px; */
  margin-bottom: 50px;
}

.image-final {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.retangle {
  max-width: 100%;
  object-fit: cover;
}

.rectangle-bottom {
  width: 80%;
  background-color: red;
  height: 200px;
  /* max-height: 100px; */
  overflow: hidden;
  margin: 1em auto;
}

.rectangle-bottom img {
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  object-position: center center;
}

.container-notebooks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  gap: 1rem;
  padding: 2em;
  /* background-color: #e0e0e0; */
}

.container-notebooks img {
  width: 100%;
  translate: 0px 62px;
}

/*----------------Footer--------------------------*/
footer {
  background-color: black;
  padding: 2em 0;
}

.image-footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.text-footer {
  color: white;
  font-size: 10px;
  font-weight: 400;
}

/*----------------Responsividade--------------------------*/
@media only screen and (max-width: 700px) {
  .text-p {
    width: 350px;
    height: 152px;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container-notebooks {
    grid-template-columns: 1fr 1fr;
  }
  .container-notebooks-maior {
    grid-column: 1/3;
    height: 300px;
  }
  .container-4 {
    display: flex;
    flex-direction: column;
  }
  .section-4 {
    order: 2;
  }
  .image-final {
    order: 1;
    width: 100%;
  }
  .image-container {
    width: 414px;
    height: 414px;
    object-fit: fill;
  }

  .retangle {
    width: 100%;
    object-fit: fill;
    transform: scale(-3, 1);
    zoom: normal;
  }

  .header-computer {
    position: relative;
    object-fit: cover;
    height: 700px;
    background-color: red;
  }

  .notebook {
    display: grid;
    grid-column: 1 / 3;
    place-items: center;
    width: 100%;
  }

  .image3 {
    display: grid;
    place-items: center;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    margin-left: 60%;
  }
  .rectangle-bottom {
    height: 300px;
    width: 100%;
  }
  .rectangle-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

@media only screen and (min-width: 2500px) {
  p {
    font-size: 32px;
  }
}
